font-family-roboto = 'Roboto', sans-serif
font-family-product-sans = 'Product Sans'

$font-weight-regular = 400
$font-weight-medium = 500
$font-weight-bold = 700

common-margin = px-to-rem(24)
common-margin-sm = px-to-rem(16)

namespace = 'interland'

z-indexes = {
  navigation: 15,
  above-logo: 16,
  cover: 25
}

breakpoints = {

}

colors = {
  background: #f2f2f2,
  linkColorHover: #444,
  linkUnderline: #222,
  linkUnderlineHover: deeppink
}
