// Custom webfonts
@font-face {
  font-family: font-family-product-sans
  src: url('assets/fonts/ProductSans-Black-Web.woff2') format('woff2'), url('assets/fonts/ProductSans-Black-Web.woff') format('woff')
  font-weight: $font-weight-bold
  font-style: normal
  // text-rendering: optimizeLegibility
}

@font-face {
  font-family: font-family-product-sans
  src: url('assets/fonts/ProductSans-Medium-Web.woff2') format('woff2'), url('assets/fonts/ProductSans-Medium-Web.woff') format('woff')
  font-weight: $font-weight-regular
  font-style: normal

  // ENABLE LIGATURES
  // text-rendering: optimizeLegibility
  // font-variant-ligatures: contextual
	// -moz-font-feature-settings: "calt" 1
	// -ms-font-feature-settings: "calt" 1
	// -o-font-feature-settings: "calt" 1
	// -webkit-font-feature-settings: "calt" 1
	// font-feature-settings: "calt" 1

  // OLD STYLE NUMBERS
  // -moz-font-feature-settings: "onum" 1;
	// -ms-font-feature-settings: "onum" 1;
	// -o-font-feature-settings: "onum" 1;
	// -webkit-font-feature-settings: "onum" 1;
	// font-feature-settings: "onum" 1;
}
