.u-container,
.u-containerFluid
  margin-left: auto
  margin-right: auto

.u-container
  width: 100%
  max-width: 80%
  +wider-than(breakpoints.sm)
    max-width: px-to-rem(800)

.u-containerFluid
  width: 100%

.u-inlineBlock
  display: inline-block

.u-flexboxCenterVertical
  min-height: 95vh
  display: flex
  flex-direction: column
  justify-content: center

.u-flexboxColumnCenter
  display: flex
  flex-direction: column
  justify-content: center

.u-inlineFlexboxCenter
  display: inline-flex
  justify-content: center
  width: 100%

.u-inlineFlexboxMiddle
  display: inline-flex
  justify-content: center
  width: 100%
  align-items: center

.u-inlineFlexbox
  display: inline-flex
  width: 100%

.u-flexboxColumn
  display: flex
  flex-direction: column

.u-paddingTop
  padding-top: px-to-rem(40)

.u-textCenter
  text-align: center

.u-viewContainer
  height: 100%

.u-uppercase
  text-transform: uppercase

.u-clickable
  cursor: pointer

.u-text-center
  text-align: center

.u-sm-hidden
  display: none
  +wider-than(breakpoints.sm)
    display: block

.u-sm-hidden-inline
  display: none
  +wider-than(breakpoints.sm)
    display: inline

.u-md-hidden
  display: none
  +wider-than(breakpoints.md)
    display: block

.u-desktop-hidden
  display: block
  +wider-than(breakpoints.sm)
    display: none

.u-hiddenOnComplete
  .ViewManager.completeOverlay-open &
    display: none
    visibility: hidden

.u-hiddenOnCardShowing
  .cardOverlay-open &
    display: none
    visibility: hidden

.u-text-button-icon svg
  height: px-to-rem(20)
  width: px-to-rem(20)
  vertical-align: middle
