.Header(data-component="Header")
  h1 Bedrock - 14islands Frontend startkit
  p This is a boilerplate template for progressive enhancement websites.
  h2 Bundled technology
  ol
    li ES2015 Babel compiler
    li Stylus
    li Pug templates
    li Browser-sync watcher
    li Modernizr with customized build
