doctype html
html(class="no-js")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title
      | Bedrock - 14islands
    meta(name='description' content="")
    script(src='./modernizr.js')
    link(rel='stylesheet', href='./bundle.min.css' )

  body(class="")
    header(class="Content")
      h1 Bedrock - 14islands Frontend startkit
      p This is a boilerplate template for progressive enhancement websites.
      h2 Bundled technology
      ol
        li ES2015 Babel compiler
        li Stylus
        li Pug templates
        li Browser-sync watcher
        li Modernizr with customized build
        
  script(src='./vendor/ScrollToPlugin.min.js')
  script(src='./bundle.min.js')
