doctype html
html(class="no-js")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title
      | Bedrock - 14islands
    meta(name='description' content="")
    script(src='./modernizr.js')
    link(rel='stylesheet', href='./bundle.min.css' )

  body(class="")
    header(class="Content")
      include components/Header/Header
    a(href="https://github.com/14islands/bedrock") Github repo
        
  script(src='./vendor/ScrollToPlugin.min.js')
  script(src='./bundle.min.js')
